body{
    font-size: 16px;
    line-height: 24px;
    color: #41484c;
    font-weight: bold;
    font-family: "Roboto" "Arial" serif;    
}
h1{
    font-size: 55px;
    line-height: 55px;}s
    
h2{
    font-size: 24px;
    line-height: 30px;
    
}